*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(10, 241, 126, 0.486);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-container{
    width: 40%;
    height: 70vh;
    background-color: azure ;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.left-part{
    display:flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    background-color: rgb(210, 255, 241);
    border-radius: 20px;
    position: relative;
    right: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.left-part .upper-part{
    height: 100%;
    width: 100%;
    background-color: rgb(132, 241, 69);
    

}
.left-part .upper-part img{
    width: 100%;
    height:100%;
    position: relative;
    right: 40px;
}
 .lower-part{
    height: 41%;
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower-part .list img{
    border: 1px solid darkturquoise;
    
}
li{
    list-style:none
    
}
.lower-part .list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-part img:hover{
    border: 2px solid black;

}
.price {
    font-size: 10px;
    color: red;
    margin-top: 20px;
}

.right-part .list{
    margin-top: 50px;
}
.right-part ul{
    margin-left: 30px;
    
}
.right-part li{
    list-style-type: disc;
    
}
.buy-btn{
    margin-top: 50px;
    padding: 20px;
    background-color: red;
    font-weight: 400;
}
@media  screen and (max-width:500px) {
    .main-container{
        flex-direction: column;
    }
}